body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

#map {
    height: 600px;
    width: 90%;
    margin: 20px auto;
}

#question {
    font-size: 22px;
    margin-top: 10px;
}

#score {
    font-size: 20px;
    margin-top: 10px;
    color: green;
}
