body { margin:0; font-family:sans-serif; }
#map { width: 100%; height: 70vh; }
#quiz {
    padding: 10px;
    height: 30vh;
    box-sizing: border-box;
    background: #f8f8f8;
}
#question { font-size: 1.5em; margin-bottom: 10px; }
#score { font-size: 1.2em; color: #333; }
